@if (characters.length > 0) {
  <h4 class="text-lg font-semibold">Available Characters</h4>
  <div class="flex flex-col gap-2 max-h-60 overflow-y-auto">
    @for (character of characters; track $index) {
      <div
        class="p-2 bg-slate-800 rounded hover:bg-slate-700 cursor-pointer select-none mr-4 border-solid border-2"
        (click)="emitAssignCharacter(character)"
        [ngClass]="{
          'border-orange-500': character.job !== null,
          'border-red-500': character.exhausted === true,
          'border-green-400': tempSelectedCharacters.get(character.id),
        }"
      >
        <div class="flex items-center gap-1">
          <app-character-avatar [character]="character" />

          <div class="self-baseline">
            <p class="text-sm">
              Martial: {{ character.stats.might }} | Int.:{{
                character.stats.knowledge
              }}
              | Dipl.: {{ character.stats.diplomacy }} | Gov.:
              {{ character.stats.governance }} | Know.:
              {{ character.stats.knowledge }}
            </p>
            @if (character.traits.length) {
              <p class="text-xs italic text-slate-400">
                Traits: {{ getTraitLabels(character) }}
              </p>
            }
            @if (character.job) {
              <p>
                Governor of {{ character.job.city.name }}
                {{ character.job.type }}
              </p>
            }
          </div>
        </div>
      </div>
    }
  </div>
}
