.nav-button {
  background-color: var(--color-gray-600);
  border-style: var(--tw-border-style);
  border-width: 2px;
  border: transparent;
  padding-block: var(--spacing);
  color: white;
  padding-block: var(--spacing);
  cursor: pointer;
  width: 100%;
  user-select: none;
  transition: all, 250ms;
}

.nav-button:hover {
  border-color: var(--color-yellow-500);
}

.active {
  background: var(--color-blue-600);
}

ul > li:first-child > button {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

ul > li:last-child > button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
