<nav>
  <ul class="flex">
    <li class="w-full">
      <button
        type="button"
        [class.active]="currentPanel === 'character'"
        class="nav-button"
        (click)="emitChangePanel('character')"
      >
        Character
      </button>
    </li>
    <li class="w-full">
      <button
        type="button"
        [class.active]="currentPanel === 'summary'"
        class="nav-button"
        (click)="emitChangePanel('summary')"
      >
        Summary
      </button>
    </li>
    <li class="w-full">
      <button
        type="button"
        [class.active]="currentPanel === 'upgrade'"
        class="nav-button"
        (click)="emitChangePanel('upgrade')"
      >
        Upgrade
      </button>
    </li>
  </ul>
</nav>
