<div
  class="flex flex-1 items-center justify-center overflow-hidden bg-slate-900 backface-hidden"
  [class.cursor-grabbing]="isDragging"
  [class.cursor-grab]="!isDragging"
  id="map-container"
  appMapControls
  #mapContainerRef
>
  @if (selectedCity) {
    <app-city-commands-menu
      [playerFaction]="playerFaction"
      [selectedCity]="selectedCity"
      [cities]="cities"
    ></app-city-commands-menu>
  }

  <div class="flex flex-1">
    <svg
      version="1.1"
      id="svg"
      xmlns="http://www.w3.org/2000/svg"
      #svgRef
      width="100%"
      height="100%"
      viewBox="0 0 550 340"
    >
      @for (city of cities; track $index) {
        <g>
          <title>{{ city.name }} - {{ city.faction.name }}</title>
          <path
            [attr.d]="city.pathData"
            [attr.fill]="city.mapColor"
            stroke="black"
            stroke-width="0.5"
            (click)="handleCitySelection(city)"
            stroke-dashoffset="2"
            class="cursor-pointer"
          />
        </g>
      }

      @if (selectedCity) {
        <g>
          <title>
            {{ selectedCity.name }} - {{ selectedCity.faction.name }}
          </title>
          <path
            [attr.d]="selectedCity.pathData"
            [attr.fill]="selectedCity.mapColor"
            stroke="yellow"
            stroke-width="1"
            (click)="handleCitySelection(selectedCity)"
            stroke-dashoffset="2"
            class="cursor-pointer"
          />
        </g>
      }

      <g id="blason-layer"></g>
    </svg>
  </div>

  @if (selectedCity) {
    <app-city-fief-menu [selectedCity]="selectedCity"></app-city-fief-menu>
  }
</div>
