<div
  class="flex-1 flex items-center justify-center overflow-hidden bg-slate-900"
  [class.cursor-grabbing]="isDragging"
  [class.cursor-grab]="!isDragging"
  id="map-container"
  appMapControls
  #mapContainerRef
>
  <ng-container *ngIf="selectedCity">
    <app-city-commands-menu
      [playerFaction]="playerFaction"
      [selectedCity]="selectedCity"
      [cities]="cities"
    ></app-city-commands-menu
  ></ng-container>

  <div class="flex">
    <svg
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      #svgRef
      width="100%"
      height="100%"
    >
      <ng-container *ngFor="let city of cities">
        <ng-container *ngIf="city.name !== selectedCity?.name">
          <g>
            <title>{{ city.name }} - {{ city.faction.name }}</title>
            <path
              [attr.d]="city.pathData"
              [attr.fill]="city.mapColor"
              stroke="black"
              stroke-width="0.5"
              (click)="handleCitySelection(city)"
              stroke-dashoffset="2"
              class="cursor-pointer"
            />
          </g>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedCity as city">
        <g>
          <title>
            {{ selectedCity.name }} - {{ selectedCity.faction.name }}
          </title>
          <path
            [attr.d]="selectedCity.pathData"
            [attr.fill]="city.mapColor"
            stroke="yellow"
            stroke-width="2"
            (click)="handleCitySelection(selectedCity)"
            stroke-dashoffset="2"
            class="cursor-pointer"
          />
        </g>
      </ng-container>

      <g id="blason-layer"></g>
    </svg>
  </div>

  <ng-container *ngIf="selectedCity">
    <app-city-fief-menu [selectedCity]="selectedCity"></app-city-fief-menu
  ></ng-container>
</div>
