<div
  class="flex-1 flex items-center justify-center overflow-hidden bg-slate-900"
  [class.cursor-grabbing]="isDragging"
  [class.cursor-grab]="!isDragging"
  id="map-container"
  appMapControls
  #mapContainerRef
>
  <app-city-commands-menu
    *ngIf="selectedCity"
    [playerFaction]="playerFaction"
    [selectedCity]="selectedCity"
    [cities]="cities"
  ></app-city-commands-menu>

  <div class="flex">
    <svg
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      #svgRef
      width="100%"
      height="100%"
    >
      <ng-container *ngFor="let city of cities">
        <g *ngIf="city.name !== selectedCity?.name">
          <title>{{ city.name }} - {{ city.faction.name }}</title>
          <path
            [attr.d]="city.pathData"
            [attr.fill]="city.mapColor"
            stroke="black"
            stroke-width="0.5"
            (click)="handleCitySelection(city)"
            stroke-dashoffset="2"
            class="cursor-pointer"
          />
        </g>
      </ng-container>

      <g *ngIf="selectedCity as city">
        <title>{{ selectedCity.name }} - {{ selectedCity.faction.name }}</title>
        <path
          [attr.d]="selectedCity.pathData"
          [attr.fill]="city.mapColor"
          stroke="yellow"
          stroke-width="2"
          (click)="handleCitySelection(selectedCity)"
          stroke-dashoffset="2"
          class="cursor-pointer"
        />
      </g>
      <g id="blason-layer"></g>
    </svg>
  </div>

  <app-city-fief-menu
    *ngIf="selectedCity"
    [selectedCity]="selectedCity"
  ></app-city-fief-menu>
</div>
