<ul>
  @for (cmd of commands; track $index) {
    @if (cmd.show) {
      <li
        class="flex w-full p-1 items-baseline hover:bg-slate-700 hover:cursor-pointer"
        (click)="handleEventMenuDisplay(cmd.id, cmd.requirement)"
      >
        <p [ngClass]="statInfoStyle(cmd.bgColor, cmd.textColor)">
          {{ cmd.stat }}
          @if (cmd.requirement !== null) {
            <span>: {{ cmd.requirement }}</span>
          }
        </p>
        <p [ngClass]="textInfoStyle()">
          {{ cmd.label }}
        </p>
      </li>
    }
  }
</ul>
