<main class="flex flex-col h-screen w-screen">
  <app-header></app-header>

  @switch (menu) {
    @case ("map") {
      <app-map
        class="flex flex-1 overflow-hidden"
        [playerFaction]="playerFaction"
        [factions]="factions"
        [cities]="cities"
      />
    }
    @case ("fief") {
      <app-fief-menu class="flex flex-1" />
    }
    @case ("report") {
      <app-turn-report class="flex flex-1" />
    }
  }

  @if (!loading) {
    <app-footer [playerFaction]="playerFaction"></app-footer>
  }
</main>
