<div class="relative flex flex-col items-center justify-center">
  @if (character) {
    @if (character.exhausted) {
      <div
        class="absolute rotate-[-18deg] border-2 border-red-500 bg-red-900/70 px-2 py-0.5 text-xs font-extrabold tracking-widest text-red-300 uppercase"
      >
        <p>EXHAUSTED</p>
      </div>
    }
    <img
      [src]="character.avatar"
      [alt]="character.name"
      class="w-24 h-24 rounded object-cover border border-slate-600"
    />
    <p class="">
      {{ character.name }}
      @if (character.job) {
        <span>({{ character.job.type }})</span>
      }
    </p>
  } @else {
    <img
      [src]="'assets/avatars/none.jpg'"
      [alt]="'No character assigned'"
      class="w-24 h-24 rounded object-cover border border-slate-600"
    />
    <p class="text-red-300">None</p>
  }
</div>
