@if (cmd) {
  <div class="flex h-full flex-col text-white">
    <!-- HEADER -->
    <header class="border-b border-slate-600 pb-3">
      <h2 class="text-xl font-bold">
        {{ cmd.label }}
      </h2>

      <p class="mt-2 text-sm text-slate-300">
        {{ cmd.description }}
      </p>
    </header>

    <main class="flex flex-1 flex-col gap-6 py-4">
      @if (cmd.requirement) {
        <section>
          <h3 class="mb-2 font-semibold">Requirement</h3>

          <div
            class="flex items-center justify-between rounded-lg px-4 py-3"
            [class]="cmd.bgColor"
          >
            <div>
              <p class="text-xs uppercase opacity-70">
                {{ cmd.stat }}
              </p>

              <p class="text-lg font-bold">
                {{ currentStat }} / {{ cmd.requirement }}
              </p>
            </div>

            @if (areRequirementsFullfilled()) {
              <span>✔</span>
            } @else {
              <span>✖</span>
            }
          </div>
        </section>
      }

      <section class="min-h-0">
        <app-available-characters
          [characters]="characters"
          (assignCharacter)="onAssignCharacterToMission($event)"
        />
      </section>
    </main>

    <footer class="flex gap-3 border-t border-slate-600 pt-4">
      <button class="menu-button flex-1" (click)="emitCloseCommandModal()">
        Cancel
      </button>

      <button
        class="menu-button flex-1"
        [disabled]="!areRequirementsFullfilled()"
      >
        Confirm
      </button>
    </footer>
  </div>
}
