@import "tailwindcss";

.menu-button {
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  border: solid 2px var(--color-red-600);
  transition: all;
  transition-duration: 250ms;
  width: 150px;
  font-size: large;
}

.menu-button:hover {
  letter-spacing: 0.05rem;
  border-color: rgb(253, 253, 253);
}
