@import "tailwindcss";

.menu-button {
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  border: solid 2px transparent;
  transition: all;
  transition-duration: 250ms;
  font-size: large;
  user-select: none;
  min-width: 6rem;
}

.menu-text {
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  border: solid 2px var(--color-red-600);
  transition: all;
  transition-duration: 250ms;
  font-size: large;
  user-select: none;
}

.menu-button:hover {
  letter-spacing: 0.05rem;
  border-color: rgb(253, 253, 253);
}

.menu-button:disabled {
  letter-spacing: 0;
  cursor: auto;
  border: solid 2px transparent;
  color: var(--color-gray-600);
  font-style: italic;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 720px) {
  .menu-button {
    padding-inline: 1rem;
    min-width: 0;
  }
  .menu-button,
  .menu-text {
    font-size: small;
    min-width: none;
  }
}
